{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="navstrip">
    <div class="navbox">
        <div class="option">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1 col-lg-3 col-xl-3 col-sm-1 col-1"></div>
    <div class="col-md-10 col-lg-6 col-xl-6 col-sm-10 col-10">
        <h1>A.I Content Plagiarism Checker</h1>
        <br><br>
        <form id="post-form" method="POST" action="">
             {% csrf_token %}    
            <textarea name="text" class="form-control" id="text" autofocus="true"></textarea>
        <div class="col-xl-2 col-lg-4 butn">
        <button type="submit" class="container btn btn-dark">Check</button></div> <br/>   
    </form>
    {% if request.method == "POST" %}
         <div class="alert alert-primary" role="alert">
            {{max_value}}
        </div>
    {% endif %}
    </div>
    <div class="col-md-1 col-lg-3 col-xl-3 col-sm-1 col-1"></div>
</div>

{% endblock %} 

